* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto";
	outline: none;
	border: none;
}

html, body {
	height: 100%;
	background: #22272b;
}

.align {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
}



.card {
	margin-top: 28px;
	height: 100%;
	max-height:500px;
	width: 396px;
	background: #2d343c;
    border: 1px solid #494e54;
	border-radius: 15px;
	overflow: hidden;
	transition: max-height 0.2s;
}

.extend {
	max-height: 580px;
}

.head {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 1px solid #373737;
	justify-content: space-between;
}

.head a {
	height: 100%;
	padding: 0 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #7c879b;
	font-size: 18px;
	font-weight: 500;
}

.head .selected {
	position: relative;
	color: #fffeff;
	font-weight: 700;
}

.head .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 1px;
    width: 100%;
    background: #7c879b;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}

form {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	padding: 44px 38px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 0;
	transition: right 0.2s;
}

.extend form {
	right: 100%;
}

.inputs {
	width: 100%;
	padding-top: 6px;
}

.input {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	border: 3px solid #2d343c;
    border: 2px solid #2d343c;
	box-shadow: 4px 4px 10px rgb(14 14 14 / 21%),
	 -4px -4px 10px rgba(92, 92, 92, 0.774),
	  inset 4px 4px 10px rgb(0 0 0 / 74%),
	   inset -4px -4px 10px rgba(92, 92, 92, 0.774);   
	width: 100%;
	font-size: 17px;
	background: #2c333b;
	border-radius: 20px;
	padding: 16px 18px 16px 51px;
	color: rgb(220,220,220);
}

.input img {
	width: 16px;
	position: absolute;
	left: 19px;
}

.checkbox {
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkbox span {
	display: flex;
	align-items: center;
	color: rgb(110,110,110);
	font-size: 16px;
	user-select: none;
}

.checkbox span:before {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 6px;
	margin-right: 16px;
	background-color: #1C1C1C;
}

.checkbox:hover input ~ span:before {
	background-color: rgb(50,50,50);
}

.checkbox input:checked ~ span:before {
	background-image: url(../img/checked.png);
	background-size: cover;
}

.card button {
	display: block;
	background:#a541f9;
	padding: 14px 100px;
	border-radius: 12px;
	color:#fffeff;
	font-weight: 500;
	font-size: 19px;
	cursor: pointer;
	box-shadow: 4px 4px 10px rgb(14 14 14 / 74%), -4px -4px 10px rgba(92, 92, 92, 0.774);
}

ul
{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
	text-align: center;
}


li
{
	
	background:#2d343c;
	border-radius:15px;
	border: 1px solid #41464c;
	display: inline-block;
	min-width: 55px;
	color: #555;
	height: 55px;
	text-align: center;
	font-size: 24px; 
	line-height: 52px;
	justify-content: center;
	font-weight: 600;
	margin: 0 15px;
	box-shadow:4px 4px 10px rgb(14 14 14 / 74%), -4px -4px 10px rgba(92, 92, 92, 0.774);
}


::placeholder
{
	color: #fffeff;
	font-size: 15px;
}
p
{
	text-align: center;
	color:#a5bfda;
	font-size: 15px;
}

ul li:nth-child(4) i:hover 
{
  color: #4cd137;
  text-shadow: 0 0 15px #4cd137,
  0 0 20px #4cd137;
}
ul li:nth-child(1) i:hover 
{
  color: #fff;
  text-shadow: 0 0 15px #fff,
  0 0 20px #fff;
}
ul li:nth-child(2) i:hover 
{
  color: #f75023;
  text-shadow: 0 0 15px #f75023,
  0 0 20px #f75023;
}


ul li:nth-child(3) i:hover 
{
  color: #d43256;
  text-shadow: 0 0 15px #d43256,
  0 0 20px #d43256;
}



